.shoplist {
    padding: 80px 0;
    background: rgb(240, 240, 239);
}

.shoplist-title {
    text-align: center;
    margin: 0 calc(50% - 4em) 80px calc(50% - 4em);
    color: #2c2c31;
    font-size: 36px;
    padding: 0.2em 0.5em;
    border: 3px solid #e20303;
}

.shoplist .ant-list {
    padding: 0 10% !important;
    background: transparent;
}

#app .ant-pagination-item:hover,
#app .ant-pagination-item-active,
#app .ant-pagination-prev[aria-disabled="false"]:hover .ant-pagination-item-link,
#app .ant-pagination-next[aria-disabled="false"]:hover .ant-pagination-item-link {
    border-color: #e30202 !important;
    background: #fff !important;
}

#app .ant-pagination-item-active a,
#app .ant-pagination-item:hover a,
#app .ant-pagination-prev[aria-disabled="false"]:hover a,
#app .ant-pagination-next[aria-disabled="false"]:hover a {
    color: #e30202 !important;
}
