#header {
    height: 100px;
    padding: 10px 0;
    box-sizing: content-box;
    z-index: 10;
    width: 100%;
    text-align: center;
}

#header .ant-menu {
    border: 0 !important;
    display: inline-block;
    top: 26.5px;
    width: 100%;
}

#header .ant-menu-item {
    vertical-align: middle !important;
}

#header .ant-menu-item a,
#header .ant-menu-item-active,
#header .ant-menu-item-active a,
#header .ant-menu-item-selected,
#header .ant-menu-item-selected a {
    color: #e30202 !important;
    border-bottom-color: #e30202 !important;
}

#logo {
    display: inline-block;
    width: 267px;
    height: 100px;
}
